/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body
{
  background-image: url("../purple-and-yellow-background.jpg");
  background-size: 100% 100% no-repeat;
  background-position: cover;
}

div.container
{
  margin: 0 auto;
}

.fill-remaining-space
{
  flex: 1 1 auto;
}

.space-between
{
  margin: 0 5px;
}
